body{
    background-color:  rgb(157, 187, 228);
    text-align: center;
}

.menuBar{
    background-color: rgb(236, 235, 241);
    overflow: hidden
}

.menuBar a{
    float: left;
    colro: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.menuBar a:hover {
    background-color: #ddd;
    color: black
}

.area{
    background-color: chartreuse;
}
.rect{
    background-color: chartreuse;
}